<div flex layout="column"       layout-align="start stretch"  >

	<div flex layout="column"       layout-align="start stretch" style="min-height:80%;  " class="scrollbar-macosx " data-jquery-scrollbar >
	    <div  flex layout="row" layout-align="center stretch"  >  </div>
	    <div flex="40" layout="row" layout-align="center stretch"  >
	    	<div flex="15"></div>
	    	<div flex="35" layout="column" layout-align="center center">
			    	<h1 class="zy-font" id="title" flex style="font-size:500%; margin: 0 0 37px 0; ">zypical</h1>
			    	<h3 class="zy-font" flex>house of online business</h3>
	    	</div >
	    	<div flex layout="column" layout-align="start stretch"   >
	    		
		    	<div flex="5" >
		    		<h2 class="zy-font" style="margin:10 0 15 0 ">search 'em</h2>
		    	</div>
		    	<div flex  layout>
		    		<!-- <input class="zy-input" /> -->
		    		<md-input-container  style="width:42%">
					  <label>search your favorite store or item</label>
					  <input type="text" ng-model="keyword">
					</md-input-container>
					<button ng-click="ChangeState('search1')"><i class="fa fa-search"></i></button>
		    	</div>
		    	<div flex="5" >
		    		<h2 class="zy-font" style="margin:10 0 10 0 ">shop 'em</h2>
		    	</div>
		    	<div flex layout>
		    		<p style="margin-top: 25px">What can you buy for</p>
		    		<md-input-container style=" margin: 15px 10px 0 10px;width:14%">
					  <label>price</label>
					  <input type="text" ng-model="price">
					</md-input-container>

		    		<p style="margin-top: 25px">pesos?</p>
					<button><i class="fa fa-search"></i></button>
		    	</div>
		    	<div flex  ></div>
	    	</div >

	    </div>
	    <div flex layout="row" layout-align="center stretch"  ></div>
	</div>
	<div flex="20" hud-setter height-in-percent="20" layout="row" layout-align="center center" class="footer">
		<div style="border-right: solid whitesmoke 1px" layout="column"       layout-align="start end">
			<p class="title-secondary">MANAGE </p>
			<p>Y O U R  A C C O U N T </p>
	        <button ng-click="showDialog($event,'0')">LOGIN</button>
	        <!-- <button ng-click="try()">LOGIN</button> -->
		</div>	
		<div>
			<p  class="title-secondary">SETUP </p>
			<p>A N  A C C O U N T </p>
	        <button ng-click="showDialog($event,'1')">SIGNUP</button>
		</div>	
		 <div>
            <p  class="title-secondary">SETUP </p>
            <p>LOGOUT </p>
            <button ng-click="logout()">LOGOUT</button>
        </div>
    </div>
</div>
